$primary:#FFBF00
$secondary: #F3BE1D
$disabled:#C5AA59
$text_primary: #626261
$text_secondary: #969694
$background: linear-gradient(180deg, rgba(255,243,210,1) 0%, rgb(253, 249, 235) 100%)
//$background_reverse: linear-gradient(180deg,rgba(255,248,230,1) 0%,rgba(255,243,210,1) 100%)
//$failed: #d90c22
