@import "../../../theme/color.sass";

.main{
    height:min-content;
    border-color: red;
    border-width: 2px;
}
StackLayout{
    border-color: red;
    border-width: 2px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: white;
}
Label{
    border-color: red;
    border-width: 2px;
}
.price{
    background-color: $primary;
    border-color: $primary;
    color: white;
    font-size: 17.5px;
}
