
<GridLayout columns="1*,3*" class="main p-5">
    <StackLayout row="0" col="0" class="m-5 rounded"
                 backgroundImage="~/theme/default.png"></StackLayout>
    <FlexboxLayout row="0" col="1"flexDirection="column" class="text m-5 p-10" flexGrow="1" justifyContent="space-between">
        <FlexboxLayout flexDirection="column" alignItems="flex-start">
            <Label [text]="'Jemyyno'" class="primary_font"></Label>
            <Label [text]="'Ator'" class="secondary_font"></Label>
            <Label [text]="'Stav'" class="secondary_font"></Label>
        </FlexboxLayout>
        <FlexboxLayout justifyContent="flex-end">
            <Label [text]="'Cena'" class="price"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</GridLayout>
