<ActionBar [title]="'title'" >
  <NavigationButton>
  </NavigationButton>
</ActionBar>
<TabView androidTabsPosition="bottom" [selectedIndex]="1">

  <GridLayout *tabItem="{ title: 'favorite' }">
    <page-router-outlet name="favorite_outlet"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: 'search' }">
    <page-router-outlet name="search_outlet"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: 'new' }">
    <page-router-outlet name="new_outlet"></page-router-outlet>
  </GridLayout>
</TabView>
